body {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.container {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
.container h1 {
  padding-top: 30px;
}
.selected-color-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pick-color-btn {
  margin-top: 10px;
  background-color: rgb(46, 205, 146);
  border: none;
  padding: 10px;
}
.pick-color-btn:hover {
  background-color: rgb(45, 184, 133);
}
.color-box {
  margin-top: 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.color-value {
  color: black;
  padding: 6px 0px 0px 6px;
  font-weight: bold;
}
